<div class="container">
  <h1 class="home-heading">To-Do List</h1>
  <div class="row items-container">
    <div class="col-3 menu">

      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center pointer-hover"
            *ngIf="overdueItems.length > 0"
            [class.selected]="window == 0" (click)="onViewSpecificDueWindow(+$event.target.id)" id="0">
          Overdue
          <span class="badge badge-danger badge-pill">
            {{ overdueItems.length }}
          </span>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center pointer-hover"
            *ngIf="todayItems.length > 0"
            [class.selected]="window == 1" (click)="onViewSpecificDueWindow(+$event.target.id)" id="1">
          Today
          <span class="badge badge-primary badge-pill">
            {{ todayItems.length }}
          </span>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center pointer-hover"
            *ngIf="tomorrowItems.length > 0"
            [class.selected]="window == 2" (click)="onViewSpecificDueWindow(+$event.target.id)" id="2">
          Tomorrow
          <span class="badge badge-primary badge-pill">
            {{ tomorrowItems.length }}
          </span>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center pointer-hover"
            *ngIf="thisWeekItems.length > 0"
            [class.selected]="window == 3" (click)="onViewSpecificDueWindow(+$event.target.id)" id="3">
          This Week
          <span class="badge badge-primary badge-pill">
            {{ thisWeekItems.length }}
          </span>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center pointer-hover"
            *ngIf="nextWeekItems.length > 0"
            [class.selected]="window == 4" (click)="onViewSpecificDueWindow(+$event.target.id)" id="4">
          Next Week
          <span class="badge badge-primary badge-pill">
            {{ nextWeekItems.length }}
          </span>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center pointer-hover"
            *ngIf="upcomingItems.length > 0"
            [class.selected]="window == 5" (click)="onViewSpecificDueWindow(+$event.target.id)" id="5">
          Upcoming
          <span class="badge badge-primary badge-pill">
            {{ upcomingItems.length }}
          </span>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center pointer-hover"
            *ngIf="completedItems.length > 0" (click)="onViewCompleted()"
            [class.selected]="showCompleted">
          View Completed
          <span class="badge badge-success badge-pill">
            {{ completedItems.length }}
          </span>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center pointer-hover"
            *ngIf="allItems.length > 0" (click)="onViewIncompleted()"
            [class.selected]="showIncomplete">
          View Incomplete
          <span class="badge badge-primary badge-pill">
            {{ incompleteItems.length }}
          </span>
        </li>
      </ul>

        <button type="button" class="btn btn-info btn-lg btn-block add-btn" (click)="openAddItemModal()">
          <i class="fa fa-plus"></i> Add New Item
        </button>

    </div>

    <div class="col-9 items-wrapper">
      <div class="container-fluid to-do-items-container">

        <h3 class="get-started" *ngIf="activeItems.length < 1;">
          Choose a menu item to get started or add a new to-do item
        </h3>

        <ul class="list-group">

          <li *ngFor="let item of activeItems;" class="list-group-item to-do-item">
            <h5 class="inline" [class.overdue]="item.dueBy == 0">
              {{ item.title | slice : 0:30 }}
            </h5>
            -
            <p class="inline">
              {{ item.type }}
            </p>
            -
            <p class="inline">
              {{ item.importance }} priority
            </p>
            <p class=" inline">
              {{ item.description | slice : 0:60 }}
            </p>
            <i class="fa fa-trash manage pointer-hover red-action" (click)="delete(item.id)"></i>
            <i class="fa fa-pencil manage pointer-hover gray-action" (click)="onEditClicked(item)" *ngIf="item.completed == null"></i>
            <i class="fa fa-check manage pointer-hover green-action" (click)="complete(item)" *ngIf="item.completed == null"></i>
            <i class="fa fa-check manage complete" *ngIf="item.completed != null"></i>
          </li>
        </ul>

      </div>
    </div>

    <div [class.modal]="!showAddItemModal" class="item-modal">
      <add-list-item (listItemAdded)="onItemAdded($event)"
                     (cancel)="closeAddItemModal()"></add-list-item>
    </div>

    <div [class.modal]="!showEditItemModal" class="item-modal">
      <edit-list-item [inputItem]="editItem"
                      (listItemEdited)="onItemEdited($event)"
                      (cancel)="closeEditItemModal()"></edit-list-item>
    </div>

  </div>
</div>

