.items-wrapper {
  background: url("/assets/images/background.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 0 5px 5px 0;
  max-height: 80vh;
  overflow: scroll;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.menu {
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
  padding: 0;
}

.items-container {
  height: 80vh;
  margin-top: 3vh;
}

.home-heading {
  text-align: center;
  margin-top: 3vh;
}

.menu list-group {
  width: 100%;
  padding: 0;
  margin: 0;
}

.list-group-item:first-child {
    border-top-right-radius: 0 !important;
}

.list-group-item:last-child {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.to-do-item{
    box-shadow: 1px 1px 1px black;
    margin-bottom: 1vh;
}

.manage{
    float: right;
    margin: 0 5px;
}
.section-button{
    margin-top: 7%;
}
.add-btn {
  position: absolute;
  bottom: 0;
  border-radius: 5px 0 0 5px;
}
.get-started {
  color: #fff;
  text-shadow: 2px 2px 3px black;
  margin-top: 50%;
  transform: translateY(-50%);
}

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.selected {
    background-color: #ddd;
}

.overdue {
  color: #dc3545;
}

.due-today {
  color:#ffc107;
}

.not-due {
  color: #007bff;
}

.complete {
  color: #28a745;
}
